*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.clearfix::before,
.clearfix::after {
    display: table;
    content: '';
}

.clearfix::after {
    clear: both;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Alef', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    outline: none;
    text-decoration: none;
}

.title span {
    font-family: 'Alef', sans-serif;
    margin-top: 0;
    height: 22px;
    line-height: .7em;
    font-size: 3.6rem;
    font-style: italic;
    letter-spacing: -.1rem;
    transition: all 1s ease-in-out;
    font-family: 'Alef', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 7px #cbd2d6;
}


.title {
    width: 120%;
    line-height: 2em;
    margin-top: 2rem;
}

span.titleSpan {
    font-family: 'Alef', sans-serif;
    margin-top: 0;
    height: 22px;
    line-height: .5em;
    font-size: 5rem;
    font-style: italic;
    letter-spacing: -.2rem;
    transition: all 1s ease-in-out;
    font-family: 'Alef', sans-serif;
    font-weight: 700;
    -webkit-text-fill-color: rgba($color: #ffffff, $alpha: .3);
}


.button-menu {
    width: 50px;
    height: 30px;
    position: fixed;
    top: 3em;
    right: 3em;
    border: none;
    background: transparent;
    fill: #fff;
    cursor: pointer;
    pointer-events: auto;
}

.button-menu:focus {
    outline: none;
}

/* Header */
.codrops-header {
    padding: 3vmax 0 0 3vmax;
    position: absolute;
    width: 100%;
    z-index: 2000;
    pointer-events: none;
}

.demo-1 .codrops-header {
    position: fixed;
    margin-top: -2rem;
    max-width: 29rem;

    // .logo img {
    //     width: 75%;
    //     opacity: .4;
    //     filter: drop-shadow(5px 5px 7px rgb(157, 165, 168))
    // }
}

.codrops-header h1 {
    font-family: 'Alef', sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: 1em;


    margin: 0;
    letter-spacing: -0.035em;
    font-size: 4em;
    font-weight: 900;
    color: rgb(14, 54, 141);
}

.codrops-header p {
    padding: 0;
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
    color: #fff;
}


/* Top Navigation Style */
.codrops-links {
    position: relative;
    display: inline;
    text-align: center;
    pointer-events: auto;
}

.codrops-links::after {
    content: '';
    position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 1px;
    // height: 110%;
    background: #323F5C;
    opacity: 0.1;
    -webkit-transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
    transform: translateY(-50%) rotate3d(0, 0, 1, 22.5deg);
}

.codrops-links p {
    font-family: 'Alef', sans-serif;
    display: block;
    justify-content: space-around;
    padding: .3rem;
    font-weight: 400;
    text-decoration: none;
    font-size: 4rem;
    letter-spacing: -.03rem;
    -webkit-text-fill-color: rgba($color: #848688, $alpha: 1);
    text-shadow: none;
    line-height: 1.7rem;

    max-width: 19rem;
    margin-left: 1rem;
    flex-direction: column;


}

.codrops-links p:hover {
    -webkit-text-fill-color: rgba($color: #746d74, $alpha: 0.3);
}

.codrops-demos {
    align-items: center;
    justify-items: center;
    background-color: rgba($color: #848688, $alpha: 0.4);
}


.codrops-icon--prev::before {
    content: "\e004";
}

/* Demo links */

.codrops-demos a {
    display: inline-block;
    margin: 0 1em 0 0;
    font-weight: bold;
    pointer-events: auto;
}

.codrops-demos a.current-demo {
    color: #273885;
}

/* Content */
.section {
    overflow: hidden;
    position: relative;
    height: 100vh;
    min-height: 800px;
    max-height: 1200px;
    padding: 7vmax;
}

.section--right {
    text-align: right;
}

.section--intro {
    background: linear-gradient(90deg, #58A8FB, #465683);
}

.section--portraits {
    background: linear-gradient(20deg, #F5F0F9, #A8CFF1);
}

.section--shots {
    background: linear-gradient(20deg, #D1D7EF, #5C61F5);
}

.section--cards {
    background: #FFB8CC;
}

.section__heading {
    pointer-events: none;
    padding: 0;
    font-size: 4.5em;
    line-height: 1;
    margin: 0;
    color: #fff;
    position: relative;
    z-index: 1000;
    font-family: 'Playfair Display', serif;
}

.section__heading em {
    font-family: sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-size: 0.3em;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    padding: 0.15em 0;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 0.05em;
}

.section__subtitle {
    pointer-events: none;
    font-size: 1.25em;
    max-width: 500px;
    position: relative;
    z-index: 1000;
}

.section--portraits .section__subtitle {
    color: #688CB1;
}

.section--right .section__subtitle {
    margin: 1em 0 0 auto;
}

.interval {
    position: relative;
    padding: 30vh 20vw;
    background: #1C222F;
    overflow: hidden;
}

.interval__text {
    font-size: 1.75em;
    line-height: 1.5;
    color: #777792;
}

/* Related demos */
.content--related {
    text-align: center;
    font-weight: bold;
    padding: 10vh 2vw;
    background: #1C222F;
    color: #fff;
}

.media-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.media-item__img {
    max-width: 100%;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
    opacity: 1;
}

.media-item__title {
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
}

.pater {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 320px;
    height: 200px;
    text-align: center;
    z-index: 100000;
}



.pater ul {
    list-style: none;
    text-decoration: none;
    padding: .5em;
    margin-right: .2em;
    flex: 1;
    text-align: right;
    padding: 0;
    margin-top: -1em;
}

.pater li {
    display: block;
    margin: 2em;
    height: .01em;
}

.pater img {
    width: 440%;
    // position: sticky;
    margin-top: 0;
    transform: rotate(27deg);
    margin-right: 0;
    opacity: 0;
    pointer-events: none;
    max-width: 410%;

}

// span.link__title {
//     font-family: 'Alef', sans-serif;
//     margin: 0;
//     height: 22px;
//     line-height: 17px;
//     font-style: italic;
//     transition: all 1s ease-in-out;
//     -webkit-text-fill-color: rgba($color: #ffffff, $alpha: 1);
//     text-shadow: none;

//     font-weight: 400;
//     position: relative;
//     letter-spacing: .05em;
//     font-size: 1.4em;
//     padding: 0em;

//     -webkit-text-fill-color: rgba($color: #ffffff, $alpha: 1);
//     text-shadow: 0 0 15px rgb(48, 51, 224), 0 0 10px #17bebe, 0 2px 19px rgb(36, 64, 187);


// }


span.link__title {
	font-family: 'Alef', sans-serif;
	height: 22px;
	line-height: 19px;
	font-style: italic;
	transition: all 1s ease-in-out;
	font-weight: 400;
	position: relative;
	letter-spacing: -.05em;
	font-size: 2.25em;
	padding: 0em;

	-webkit-text-fill-color: rgba($color: #100957, $alpha: 1);

}


span.grid__title {
    font-family: 'Alef', sans-serif;
    margin: 0;
    height: 22px;
    line-height: 20px;
    font-style: italic;
    transition: all 1s ease-in-out;
    font-weight: 700;
    position: absolute;
    letter-spacing: .01em;
    font-size: 2em;
    color: #301381;
    // -webkit-text-fill-color: rgba($color: #591381, $alpha: 1);
    -webkit-text-fill-color: rgba($color: #301381, $alpha: 1);

    // text-shadow: 0 0 12px rgb(255, 255, 255);
}

.pater span:hover,
.pater span:active {
    -webkit-text-fill-color: rgba($color: #00d9ff, $alpha: 1);
}


.pater::before {
    content: '';
    position: absolute;
    background: url(../img/ink3.png) no-repeat top left;
    width: 591px;
    height: 432px;
    top: -200px;
    left: -160px;
    z-index: 0;
    opacity: 0.8;
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
    -webkit-transition: opacity 0.3s, -webit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
}


.pater img {
    width: 66%;
    // position: sticky;
    margin-top: .7em;
    max-width: 220%;
}



@media screen and (max-width: 38em) {

    .pater ul {
        margin: 0;

        padding: 0;
        // display: none;
        margin-top: 0;
        margin-right: 0;
    }

    .codrops-header {
        width: 80%;
    }


    .codrops-header p {
        font-size: 0.85em;
    }

    .demo-1 .pater__title::before {
        left: 0;
    }

    .demo-1 .pater::before {
        display: none;
    }

    .isolayer.isolayer--scroll1 {
        top: -45vh;
    }

    .demo-1 .pater {
        display: block;
        height: 30vh;
        width: 100%;
        text-align: right;
	background: linear-gradient(to top, #282ac0 0%, #1044a5cc 100%);

        -webkit-transform: translateZ(200px);
        transform: translateZ(200px);
    }

    .demo-1 .pater li {
        display: inline;
        display: block;
    }


    .pater img {
        width: 140%;
        // position: sticky;
        margin-top: -10.4em;
        transform: rotate(27deg);
        margin-left: -16.1em;
        opacity: .1;
        pointer-events: none;
        max-width: 210%;

    }



    .title {
        // width: 100%;
        line-height: 2em;
        margin-top: 2rem;
        padding-bottom: .1em;

        // border-bottom-width: .04em;
        // border-bottom-style: solid;
        // border-bottom-color: rgb(241, 239, 239);
    }


    .title span {
        font-family: 'Alef', sans-serif;
        margin-top: 0;
        height: 22px;
        line-height: .5em;
        font-size: 2.4rem;
        font-style: italic;
        letter-spacing: -.1rem;
        transition: all 1s ease-in-out;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0px 0px 1px #c8c8ca;
    }

    span.link__title {
        font-family: 'Alef', sans-serif;
        height: 22px;
        line-height: 17px;
        font-style: italic;
        transition: all 1s ease-in-out;
        line-height: 19px;
        font-style: italic;
        transition: all 1s ease-in-out;
        font-weight: 400;
        position: relative;
        letter-spacing: -.05em;
        font-size: 2.25em;
        padding: 0em;

        -webkit-text-fill-color: rgba($color: #100957, $alpha: 1);
        // text-shadow: 0 0 15px rgb(48, 51, 224), 0 0 10px #177bbe, 0 2px 19px rgb(36, 64, 187);
    }


}